.product-card {
  width: 350px;
  background-color: #edf2fa;
  border: 1px solid #e0e0e0;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;  /* Adjust height to adapt content */
  overflow: hidden; /* Prevent content from overflowing */
}

.product-card:hover {
  transform: translateY(-6px);
}

.product-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 12px;
  margin-bottom: 12px;
}

.modal-heading1 {
  font-size: 1.5rem;
}

.modal-title1 {
  font-size: 1.6rem;
  color: #e58800;
  font-weight: bold;
}

.modal-subtitle {
  font-size: 12;
  font-weight: 700;
}

.modal-desc {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
  background: linear-gradient(120deg, #4065f6, #00d7a3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 4px;
}

.price-info {
  font-size: 18px;
  margin-bottom: 12px;
  text-align: left;
}

.sale-price {
  color: black;
  font-weight: bold;
}

.sale-price1 {
  color: red;
  font-weight: bold;
}

.detail-btn-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: auto; /* Pushes the button to the bottom */
}

.detail-btn {
  background-color: #68a6f7;
  color: white;
  border: none;
  border-radius: 50%; /* Make the button circular */
  width: 45px;
  height: 45px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease;
}

.detail-btn:hover {
  background-color: #4992e5;
}
